/* QuizView.css */

.question {
  text-align: center;
  margin-bottom: 20px;
}

.question-number {
  font-weight: bold;
  font-size: 1.2rem;
}

.question-text {
  font-size: 1.75rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  margin-right: 30%; /* Adjust this value to move the options to the left */
}

.answer button:nth-child(n) {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #1d3354; /* Border added */
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.answer button:nth-child(n):hover {
  background-color: #1d3354;
  color: white;
}

.correct-answer {
  color: #ffffff !important;
  background-color: #28a745 !important;
  border: 2px solid #28a745 !important;
}

.incorrect-answer {
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border: 2px solid #dc3545 !important;
}

.selected-answer {
  background-color: #1d3354 !important;
  color: white !important;
}

.result {
  text-align: center;
}

.correct-icon {
  color: #155724;
  font-size: 24px;
}

.incorrect-icon {
  color: #721c24;
  font-size: 24px;
}

.result-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.explanation {
  font-size: 16px; /* Increased font size */
  font-weight: bold; /* Made text bold */
  color: #495057;
  margin-top: 20px; /* Added margin to separate explanation from options */
}

.bg-blue {
  background-color: #1d3354 !important;
  color: white !important;
  border: 1px solid #bfc0c0 !important;
  border-radius: 10px !important;
  text-align: left !important;
}

.btn-submit-active {
  background-color: #e0eafc !important;
  border: 2px solid #1d3354 !important;
  color: #1d3354 !important;
}

.btn-deactivated {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Additional styles for the question list */
.question-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.question-item {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #1d3354; /* Border added */
  border-radius: 5px;
  background-color: #e0eafc;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  text-align: center;
  width: 100%;
}

.question-item:hover {
  background-color: #1d3354;
  color: white;
}

.current-question {
  background-color: #1d3354;
  color: white;
}

.correct-question {
  background-color: #28a745 !important;
  color: #ffffff !important;
  border: 2px solid #28a745 !important;
}

.incorrect-question {
  background-color: #dc3545 !important;
  color: #ffffff !important;
  border: 2px solid #dc3545 !important;
}

.scrollable-question-list {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  width: 100%;
}

.score-container {
  background-color: #1d3354;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.score-value {
  font-weight: bold;
  font-size: 1.5rem;
}

.question-list-no-scroll {
  width: 100%;
  max-height: 400px; /* Adjust the height as needed */
}

.question-item.current-question {
  background-color: #1d3354;
  color: white;
}

.question-item.correct-question {
  background-color: #28a745;
  color: #ffffff;
}

.question-item.incorrect-question {
  background-color: #dc3545;
  color: #ffffff;
}

.bnf-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bnf-link .btn {
  padding: 8px 12px;
  font-size: 14px;
}

