.mainbg {
    background-image: url("/images/Blob.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #E9FFF9;
}

.smallicon {
    max-width: 25px;
    max-height: auto;
}

.smallericon {
    max-width: 20px;
    max-height: auto;
}

.tinyicon {
    max-width: 10px;
    max-height: auto;
}

.leftside {
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.rightside {
    background-color: #9ED8D8;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.leftalign {
    text-align: left;
}

.form-label {
    font-size: 1.1rem;
}


.floatright {
    float: right;
}

.link {
    text-decoration: none;
    color: #212529;
}

.link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.btn-primary {
    background-color: #1D3354;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
}

.back {
    padding-left: 0%;
}

.btn-primary:hover {
    background-color: #212529;

}