/* styles.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  /* Adjust as needed */
}

.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* Left Navigation */
.leftnavigation {
  background-color: #ffffff;
  /* White background */
  padding: 20px;
}

.leftnavigation .logo1 {
  width: 50px;
  /* Adjust logo size */
}

.leftnavigation .navigationoption {
  margin-left: 10px;
}

.leftnavigation .navigationoption img {
  width: 20px;
  /* Adjust icon size */
}

.leftnavigation .navigationoption.active {
  color: #007bff;
  /* Active link color */
}

/* Main Content */
.maincontent {
  padding: 20px;
}

.maincontent .card {
  background-color: #ffffff;
  /* White card background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Box shadow for card */
}

.maincontent .question-number {
  font-weight: bold;
}

.maincontent .question-text {
  font-size: 1.2rem;
  /* Adjust question text size */
  margin-bottom: 20px;
}

.maincontent .answer {
  margin-top: 20px;
}

.maincontent .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.maincontent .result {
  margin-top: 20px;
}

.maincontent .explanation {
  margin-top: 10px;
}

/* Discussion Section */
.maincontent .discussion {
  margin-top: 20px;
}

.maincontent .discussion .form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Buttons */
.btn-primary {
  background-color: #007bff;
  /* Primary button color */
  color: #ffffff;
  /* Button text color */
}

.btn-deactivated {
  background-color: #6c757d;
  /* Deactivated button color */
  color: #ffffff;
  /* Button text color */
}

.btn-secondary {
  background-color: #6c757d;
  /* Secondary button color */
  color: #ffffff;
  /* Button text color */
}

.btn-secondary-selected {
  background-color: #007bff;
  /* Selected secondary button color */
}


.btn-deactivated,
.btn-secondary {
  cursor: not-allowed;
  /* Disable cursor */
}

/* Links */
.removeunderline {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit text color */
}

.removeunderline:hover {
  color: #007bff;
  /* Hover color for links */
}