.commentContainer {
  margin-top: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
  width: 100%;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #e7e7e7;
  width: 100%;
}

.first_input {
  margin: 0;
}

.reply {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  color: #1e3a8a; /* navybluetext */
  font-weight: 600;
  cursor: pointer;
}

.reply a {
  color: #1e3a8a;
  text-decoration: none;
}

.comment {
  color: #ffffff;
  background-color: #569dff;
  letter-spacing: 0.8px;
}

.midsizeicon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.mediumbluetext {
  color: #1e40af;
}

.navybluetext {
  color: #1e3a8a;
}

.buttonstyle {
  border: none;
  background: none;
  cursor: pointer;
}

.moderateicon {
  width: 20px;
  height: 20px;
}

.floatright {
  float: right;
}

.removeunderline {
  text-decoration: none;
}
