body {
  font: Helvetica;
}

.center {
  text-align: center;
}


.logo {

  max-width: 100px;
}

.logo1 {
  max-width: 90px;
}

.icon {
  max-width: 80px;
}

.midsizeicon {
  max-width: 70px;
}

.littlemidsizeicon {
  max-width: 60px;
}

.mediumicon {
  max-width: 40px;
}

.moderateicon {
  max-width: 30px;
}

.inline {
  display: inline !important;
}

.mainbg {
  background-image: url(images/Blob.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #E9FFF9;
}

.smallicon {
  max-width: 25px;
  max-height: auto;
}

.smallericon {
  max-width: 20px;
  max-height: auto;
}

.tinyicon {
  max-width: 10px;
  max-height: auto;
}

.leftside {
  background-color: white;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.rightside {
  background-color: #9ED8D8;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.leftalign {
  text-align: left;
}

.form-label {
  font-size: 1.1rem;
}


.floatright {
  float: right;
}

.link {
  text-decoration: none;
  color: #212529;
}

.link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.btn-primary {
  background-color: #1D3354;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.back {
  padding-left: 0%;
}

.btn-primary:hover {
  background-color: #212529;

}

@media only screen and (max-width: 576px) {

  .leftside {
    background-color: white;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;

    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;

  }

  .rightside {
    background-color: #9ED8D8;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;

    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .back {
    padding-left: 0%;
    float: left !important;
    margin-top: 0% !important;
  }

}

.leftnavigation {
  background-color: #FFFFFF;
  min-height: 100vh;
}

.maincontent {
  background-color: #A9E2E2;
  min-height: 100vh;
}

.navigationicon {
  max-width: 45px;
  display: inline;
}

.navigationoption {
  display: inline;

}

.removeunderline {
  text-decoration: none;
}

.removeunderline:hover {
  text-decoration: underline;
}

.activelink {
  color: #1D3354;
}

.activelink:hover {
  color: #1D3354;
  font-weight: bold;
}

.inactivelink {
  color: #BFC0C0;
}

.inactivelink:hover {
  color: #BFC0C0;
  font-weight: bold;
}

.navybluetext {
  color: #1D3354;
}

.greytext {
  color: #475467;
}

.card {
  border: 0px;
}

.circular-progress {

  --size: 240px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 30px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 1s linear 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #1D3354;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }

  to {
    --progress: 25;
  }
}

.borderbottom {
  border-bottom: 1px solid #BFC0C0;
}

.bordertop {
  border-top: 1px solid #BFC0C0;
}

.halveopacity {
  opacity: 50%;
}

.navybluebg {
  background-color: #1D3354;
}

.whitetext {
  color: #FFFFFF;
}

.borderradius {
  border-radius: 10px;
}

.form-control {
  border-right: solid 1px #1D3354;
  border-top: solid 1px #1D3354;
  border-bottom: solid 1px #1D3354;
  border-left: 0px;
}

.input-group-text {
  background-color: #FFFFFF;
  border-left: solid 1px #1D3354;
  border-top: solid 1px #1D3354;
  border-bottom: solid 1px #1D3354;
  border-right: 0px;
}

.mediumbluebg {
  background-color: #4A5C76;
}

.whitebg {
  background-color: #FFFFFF;
}

.pseudobutton {
  border-radius: 6px;
  max-width: 158px;
}

.redtext {
  color: #E0243C;
}

.mediumbluetext {
  color: #467599;
}

.btn-secondary {
  width: 50%;
  border: 1px solid #BFC0C0;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: left;
  color: #1D3354;
}

.btn-secondary:hover {
  width: 50%;
  border: 1px solid #999A9A;
  border-radius: 10px;
  background-color: #DDDDDD;
  text-align: left;
  color: #1D3354;
}

.btn-deactivated {
  background-color: #BFC0C0;
  color: #FFFFFF;
}


.btn-deactivated:hover {
  background-color: #999A9A;
  color: #FFFFFF;
}

.fitcontent {
  width: fit-content;
}

.form-control {
  border: solid 1px #BFC0C0;
}

.aligntop {
  vertical-align: top;
}

.buttonstyle {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}

.navybluebg {
  background-color: #1D3354;
}

.frontcardbg {
  background-color: #D9D9D9;
  border-radius: 10px;

}

.flipbutton {
  background-color: transparent;
  border: none;
}

.backcardbg {
  background-color: #1D3354;
  border-radius: 10px;
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
}

.maincard {
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: all 0.5s;
}

.bothcards {
  backface-visibility: hidden;
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.lightgrey {
  background-color: #D2D6DD;
  border-radius: 8px;

}

.addeventbutton {
  background-color: transparent;
  border: none;
}

.floatleft {
  float: left;
}

.btn-tertiary {
  background-color: #4A5C76;
  color: #FFFFFF;
  border-radius: 10px;
  width: 25%;
  border: 0px;
}

.btn-tertiary:hover {
  background-color: #313d4e;
  color: #FFFFFF;
}

.mediumnavytext {
  color: #4A5C76;
}

.btn-outline-secondary {
  background-color: #4A5C76;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
}

.btn-outline-secondary:hover {
  background-color: #313d4e;
  color: #FFFFFF;
}

.form-select {
  border: 1px solid #BFC0C0;
}

.progress {
  background-color: #FFFFFF;
}

.progress-bar {
  background-color: #1D3354;
}

.form-check {
  background-color: #FFFFFF;
  border: solid 1.5px #BFC0C0;
  border-radius: 10px;
}


.form-check-input {
  float: right !important;
  border: 1.5px solid #1D3354;

}

.form-check-input:checked {
  background-color: #1D3354;
  border-color: #1D3354;
}


input[type="radio"]:checked+label {
  border: 4px solid #1D3354;
  border-radius: 50%;
}

.pointercursor {
  cursor: pointer;
}

.verticalcenter {
  display: flex;
  align-items: center;
}

.halfopacity {
  opacity: 50%;
}

.fullborder {
  border: 1px solid #BFC0C0;
  border-radius: 10px;
}

.checkboxsize {
  width: 16px;
  height: 16px;
  accent-color: #1D3354;
}

.flip-card {
  background-color: #D9D9D9;
  border-radius: 10px;
}

.flip-card:hover {
  background-color: #1D3354;
  color: #FFFFFF;
}