/* QuizView.css */

.question {
  text-align: center;
  margin-bottom: 20px;
}

.question-number {
  font-weight: bold;
  font-size: 1.2rem;
}

.question-text {
  font-size: 1.75rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  margin: auto;
}

.answer li {
  list-style: none;
}

.answer li button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.answer li button:hover {
  background-color: #f0f0f0;
}

.correct-answer button {
  color: #155724;
  background-color: #c3e6cb;
}

.incorrect-answer button {
  color: #721c24;
  background-color: #f8d7da;
}

.result {
  text-align: center;
}

.correct-icon {
  color: #155724;
  font-size: 24px;
}

.incorrect-icon {
  color: #721c24;
  font-size: 24px;
}

.result-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.explanation {
  font-size: 14px;
  font-weight: lighter;
  color: #495057;
}

.bg-blue {
  background-color: #1D3354;
  color: white;
}